<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="LogInTestsSuite">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

    <test name="Log in with valid credentials">
        <classes>
            <class name="com.Triller.Tests.LoginTests.PositiveTests"></class>
        </classes>
    </test>

    <test name="Log in with invalid credentials">
        <classes>
            <class name="com.Triller.Tests.LoginTests.NegativeTests"></class>
        </classes>
    </test>

</suite>
